<!-- Loop over each object in the projects array -->

{{!-- {{#each recipes as |recipe| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      <p>{{recipe.name}}</p>
    </h2>
    <p>
      
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{recipe.description}}</span>
      needed!
    </p>
    <p>{{recipe.ingredients}}</p>
  </div>
  <div class="col-md-7">
    <p>
     
    </p>
  </div>
</div>
{{/each}} --}}
{{#each labels as |l|}}
  <div>
    <h3>{{ l }}</h3>
    </div>
    {{/each}}
    {{#each ing as |i|}}
  <div>
    <p>{{ i }}</p>
    
    <!-- Display other recipe details as needed -->
  
    </div>
    
    <!-- Display other recipe details as needed -->


    {{/each}}




